In [2]:
import pandas as pd

In [3]:
# Функция для расчета Ad Revenue
def calculate_total_ad_revenue(data):
    """Вычисление общего дохода от рекламы."""
    return data["ad_revenue"].sum()

# Функция для расчета Ad LTV
def calculate_ad_ltv(data):
    """Вычисление Ad LTV."""
    total_revenue = calculate_total_ad_revenue(data)
    user_count = len(data)
    return total_revenue / user_count

In [4]:
# Загрузка данных
data_path = "../data/ad_revenue_data.csv"
data = pd.read_csv(data_path)

data

     user_id  ad_revenue
0          1        1.01
1          2        0.92
2          3        5.39
3          4        7.01
4          5        6.55
..       ...         ...
995      996        6.48
996      997        7.36
997      998        2.19
998      999        1.30
999     1000        7.44

[1000 rows x 2 columns]

In [5]:
# Расчеты
total_ad_revenue = calculate_total_ad_revenue(data)
ad_ltv = calculate_ad_ltv(data)

In [8]:
total_ad_revenue, ad_ltv

(5027.81, 5.027810000000001)